body #wrap {
  background-color: #ddeef0;
}

#footer {
  background-repeat: repeat;
  background-color: #544f54;
}

#footer #credits {
  background-color: transparent;
  color: #4d4a4d;
}

.container #footer {
  background-repeat: repeat;
  background-position: 0% 0%;
  background-color: transparent;
}

